.wxmt2 {
  margin-top: 4px;
}
.wxmr2 {
  margin-right: 4px;
}
.wxmb2 {
  margin-bottom: 4px;
}
.wxml2 {
  margin-left: 4px;
}
.wxm2 {
  margin: 4px;
}

.wxpt2 {
  padding-top: 4px;
}
.wxpr2 {
  padding-right: 4px;
}
.wxpb2 {
  padding-bottom: 4px;
}
.wxpl2 {
  padding-left: 4px;
}
.wxp2 {
  padding: 4px;
}

.wxmt4 {
  margin-top: 8px;
}
.wxmr4 {
  margin-right: 8px;
}
.wxmb4 {
  margin-bottom: 8px;
}
.wxml4 {
  margin-left: 8px;
}
.wxm4 {
  margin: 8px;
}

.wxpt4 {
  padding-top: 8px;
}
.wxpr4 {
  padding-right: 8px;
}
.wxpb4 {
  padding-bottom: 8px;
}
.wxpl4 {
  padding-left: 8px;
}
.wxp4 {
  padding: 8px;
}

.wxmt6 {
  margin-top: 12px;
}
.wxmr6 {
  margin-right: 12px;
}
.wxmb6 {
  margin-bottom: 12px;
}
.wxml6 {
  margin-left: 12px;
}
.wxm6 {
  margin: 12px;
}

.wxpt6 {
  padding-top: 12px;
}
.wxpr6 {
  padding-right: 12px;
}
.wxpb6 {
  padding-bottom: 12px;
}
.wxpl6 {
  padding-left: 12px;
}
.wxp6 {
  padding: 12px;
}

.wxmt8 {
  margin-top: 16px;
}
.wxmr8 {
  margin-right: 16px;
}
.wxmb8 {
  margin-bottom: 16px;
}
.wxml8 {
  margin-left: 16px;
}
.wxm8 {
  margin: 16px;
}

.wxpt8 {
  padding-top: 16px;
}
.wxpr8 {
  padding-right: 16px;
}
.wxpb8 {
  padding-bottom: 16px;
}
.wxpl8 {
  padding-left: 16px;
}
.wxp8 {
  padding: 16px;
}

.wxmt10 {
  margin-top: 20px;
}
.wxmr10 {
  margin-right: 20px;
}
.wxmb10 {
  margin-bottom: 20px;
}
.wxml10 {
  margin-left: 20px;
}
.wxm10 {
  margin: 20px;
}

.wxpt10 {
  padding-top: 20px;
}
.wxpr10 {
  padding-right: 20px;
}
.wxpb10 {
  padding-bottom: 20px;
}
.wxpl10 {
  padding-left: 20px;
}
.wxp10 {
  padding: 20px;
}

.wxmt12 {
  margin-top: 24px;
}
.wxmr12 {
  margin-right: 24px;
}
.wxmb12 {
  margin-bottom: 24px;
}
.wxml12 {
  margin-left: 24px;
}
.wxm12 {
  margin: 24px;
}

.wxpt12 {
  padding-top: 24px;
}
.wxpr12 {
  padding-right: 24px;
}
.wxpb12 {
  padding-bottom: 24px;
}
.wxpl12 {
  padding-left: 24px;
}
.wxp12 {
  padding: 24px;
}


.wxmt14 {
  margin-top: 28px;
}
.wxmr14 {
  margin-right: 28px;
}
.wxmb14 {
  margin-bottom: 28px;
}
.wxml14 {
  margin-left: 28px;
}
.wxm14 {
  margin: 28px;
}

.wxpt14 {
  padding-top: 28px;
}
.wxpr14 {
  padding-right: 28px;
}
.wxpb14 {
  padding-bottom: 28px;
}
.wxpl14 {
  padding-left: 28px;
}
.wxp14 {
  padding: 28px;
}

.wxmt16 {
  margin-top: 32px;
}
.wxmr16 {
  margin-right: 32px;
}
.wxmb16 {
  margin-bottom: 32px;
}
.wxml16 {
  margin-left: 32px;
}
.wxm16 {
  margin: 32px;
}

.wxpt16 {
  padding-top: 32px;
}
.wxpr16 {
  padding-right: 32px;
}
.wxpb16 {
  padding-bottom: 32px;
}
.wxpl16 {
  padding-left: 32px;
}
.wxp16 {
  padding: 32px;
}

.wxmt18 {
  margin-top: 36px;
}
.wxmr18 {
  margin-right: 36px;
}
.wxmb18 {
  margin-bottom: 36px;
}
.wxml18 {
  margin-left: 36px;
}
.wxm18 {
  margin: 36px;
}

.wxpt18 {
  padding-top: 36px;
}
.wxpr18 {
  padding-right: 36px;
}
.wxpb18 {
  padding-bottom: 36px;
}
.wxpl18 {
  padding-left: 36px;
}
.wxp18 {
  padding: 36px;
}

.wxmt20 {
  margin-top: 40px;
}
.wxmr20 {
  margin-right: 40px;
}
.wxmb20 {
  margin-bottom: 40px;
}
.wxml20 {
  margin-left: 40px;
}
.wxm20 {
  margin: 40px;
}

.wxpt20 {
  padding-top: 40px;
}
.wxpr20 {
  padding-right: 40px;
}
.wxpb20 {
  padding-bottom: 40px;
}
.wxpl20 {
  padding-left: 40px;
}
.wxp20 {
  padding: 40px;
}

.wxmt24 {
  margin-top: 48px;
}
.wxmr24 {
  margin-right: 48px;
}
.wxmb24 {
  margin-bottom: 48px;
}
.wxml24 {
  margin-left: 48px;
}
.wxm24 {
  margin: 48px;
}

.wxpt24 {
  padding-top: 48px;
}
.wxpr24 {
  padding-right: 48px;
}
.wxpb24 {
  padding-bottom: 48px;
}
.wxpl24 {
  padding-left: 48px;
}
.wxp24 {
  padding: 48px;
}

.wxmt32 {
  margin-top: 64px;
}
.wxmr32 {
  margin-right: 64px;
}
.wxmb32 {
  margin-bottom: 64px;
}
.wxml32 {
  margin-left: 64px;
}
.wxm32 {
  margin: 64px;
}

.wxpt32 {
  padding-top: 64px;
}
.wxpr32 {
  padding-right: 64px;
}
.wxpb32 {
  padding-bottom: 64px;
}
.wxpl32 {
  padding-left: 64px;
}
.wxp32 {
  padding: 64px;
}

.wxmt48 {
  margin-top: 96px;
}
.wxmr48 {
  margin-right: 96px;
}
.wxmb48 {
  margin-bottom: 96px;
}
.wxml48 {
  margin-left: 96px;
}
.wxm48 {
  margin: 96px;
}

.wxpt48 {
  padding-top: 96px;
}
.wxpr48 {
  padding-right: 96px;
}
.wxpb48 {
  padding-bottom: 96px;
}
.wxpl48 {
  padding-left: 96px;
}
.wxp48 {
  padding: 96px;
}

.wxmt64 {
  margin-top: 128px;
}
.wxmr64 {
  margin-right: 128px;
}
.wxmb64 {
  margin-bottom: 128px;
}
.wxml64 {
  margin-left: 128px;
}
.wxm64 {
  margin: 128px;
}

.wxpt64 {
  padding-top: 128px;
}
.wxpr64 {
  padding-right: 128px;
}
.wxpb64 {
  padding-bottom: 128px;
}
.wxpl64 {
  padding-left: 128px;
}
.wxp64 {
  padding: 128px;
}

.wxmt96 {
  margin-top: 192px;
}
.wxmr96 {
  margin-right: 192px;
}
.wxmb96 {
  margin-bottom: 192px;
}
.wxml96 {
  margin-left: 192px;
}
.wxm96 {
  margin: 192px;
}

.wxpt96 {
  padding-top: 192px;
}
.wxpr96 {
  padding-right: 192px;
}
.wxpb96 {
  padding-bottom: 192px;
}
.wxpl96 {
  padding-left: 192px;
}
.wxp96 {
  padding: 192px;
}

.wxmt0 {
  margin-top: 0;
}
.wxmr0 {
  margin-right: 0;
}
.wxmb0 {
  margin-bottom: 0;
}
.wxml0 {
  margin-left: 0;
}
.wxm0 {
  margin: 0;
}

.wxpt0 {
  padding-top: 0;
}
.wxpr0 {
  padding-right: 0;
}
.wxpb0 {
  padding-bottom: 0;
}
.wxpl0 {
  padding-left: 0;
}
.wxp0 {
  padding: 0;
}

